.main__title {
  margin-bottom: 15px;

  text-align: center;
  font-size: 28px;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.secondary__title {
  margin-bottom: 15px;

  text-align: center;
  font-size: 24px;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
