.contact__label {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 15px;

  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.contact__input {
  margin-top: 5px;
  padding: 5px;
  width: 240px;

  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 4px;

  font-size: 18px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.contact__button {
  background-image: linear-gradient(
    to right,
    #3d7eaa 0%,
    #ffe47a 51%,
    #3d7eaa 100%
  );
  padding: 10px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  cursor: pointer;
  outline: none;
  border: none;
}

.contact__button:hover,
.contact__button:focus-visible {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
