.contact__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding-left: 15px;
  padding-right: 15px;
}

.contact__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.contact__list__text {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.text__color {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.contact__list__button {
  background-image: linear-gradient(
    to right,
    #3d7eaa 0%,
    #ffe47a 51%,
    #3d7eaa 100%
  );
  padding: 10px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
}

.contact__list__button:hover,
.contact__list__button:focus-visible {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
